.footer {
  background-color: transparent;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 0.9rem;
  color: #e0f7ff;
  margin: 0;
  width: 100%;
  /* background: linear-gradient(135deg, #0A0F2C, #001B26, #00FFE7); */
  /* background: linear-gradient(145deg, #0A0F2C, #001B26, #00F0FF, #0077FF); */
  /* background: linear-gradient(150deg, #060A09, #0E1629, #00FF9D); */
}

.footer-left {
  max-width: 400px;
}

.footer-logo {
  height: 3rem;
  margin-bottom: 0.5rem;
}

.footer-right h4 {
  text-shadow: 0 0 2px #03ffe6;
  color: #e0f7ff;
  margin-bottom: 0.4rem;

}
.underline{
  width: 3.5rem;
  height: 1px;
  background: #777777;
  margin: 0 2rem;
  margin-bottom: 1rem;
}

.footer-right ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

.footer-right li {
  margin-bottom: 0.5rem;
}

.footer-right a {
  color: #e0f7ff;
  text-decoration: none;
}

.footer-right a:hover {
  color: #2ff4f7;
}

.social-icons a {
  margin-right: 0.8rem;
  font-size: 1.2rem;
  color: #e0f7ff;
}

.social-icons a:hover {
  color: #2ff4f7;
}